.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.11);
  position: fixed;
  left: 0;
  top: 0;
  @include flex-all-center;
  opacity: 0;
  pointer-events: none;
  transition: .5s ease-in-out;
  z-index: 9999999;
  &__active {
    opacity: 1;
    transition: .5s ease-in-out;
    pointer-events: all;
  }

  &__container {
    padding: 20px;
    border-radius: 12px;
    background-color: var(--white);
    transform: scale(0.5);
    transition: 0.5s ease-in-out;

    &--active {
      transform: scale(1);
      transition: 0.5s ease-in-out;
    }
  }
}