.players {
  &-item {
    width: 100%;
    border-radius: 5px;
    overflow: hidden; /* Ensures the image does not overflow the container */

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Makes the image cover the entire container */
      border-radius: 5px;
    }

    &__title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__date {
      color: gray;
    }
  }
}
