.players-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Create three equal columns */
    gap: 20px;
    align-items: center;
  }
}